*{
    outline: none;
    box-sizing: border-box;
    border: none;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    
}

.simula-venda{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    width: 50vh;
    height: 8vh;
    margin-top: 2vh;
}

.grid-formulario{
    align-items: end;
    width: 103vh;
    display: grid;
    grid-template-columns: 1fr 71fr;
    justify-items: center;
    gap: 5vh;
}

select{
    border: .3vh solid #ccc;
    border-radius: .375rem;
    padding: 2vh;
    cursor: pointer;
}

select:focus{
    border: #4390C2 .3vh solid;
}

select:disabled{
    border: .3vh dashed #ccc;
    background-color: #f7f7f7;
}

option {
    background: #fff;
    color: #1d1d1d;
    margin: 0.2vh 0;
    }


.col{
    display: flex;
    flex-direction: column;
}
  
.input-valor {
    padding: 1vh 2vh;
    height: 7vh;
    font-size: 1.5rem !important;
    display: inline-flex;
    align-items: center;
    border-bottom: .5vh #ccc solid;
    
}
  
.input-valor.selected {
    border-bottom: #4390C2 solid;
    
}

#valor-cobrar{
    width: 28vh;
    font-size: 1.3rem;
    font-weight: 300;
}

#valor-cobrar::placeholder{
    color: #1d1d1d;
}

.cifrao{
    font-size: 1.3rem;
    font-weight: 300;
}

.display-valores{
    border-radius: .375rem;
    border: .3vh #ccc solid;
    padding: 1vh 2vh;
    display: grid;
    height: 100%;
    width: 50vh;
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: start;

}

.vende{
    font-size: 1.2rem;
}

.valor{
    font-weight: 700;
}

.content-valores{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

