*{
    outline: none;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.simula-venda{
    width: 100%;
    display: flex;
    justify-content: center;
}

.row{
    width: 50vh;
    height: 6vh;
    margin-top: 2vh;
}

.grid-formulario{
    align-items: start;
    width: 103vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5vh;
}

select{
    border: .3vh solid #ccc;
    border-radius: .375rem;
    padding: .5vh 2vh;
    cursor: pointer;
}

select:disabled{
    border: .3vh dashed #ccc;
    background-color: #f7f7f7;
}

option{
    margin: 2vh;
}


.form-content {
    margin-bottom: 10px;
    
  }

.col{
    display: flex;
    flex-direction: column;
}
  
.input-valor {
    padding: 1vh 2vh;
    height: 7vh;
    font-size: 1.5rem !important;
    display: inline-flex;
    align-items: center;
    border-radius: .375rem;
    border-bottom: #ccc solid;
    
}
  
.input-valor.selected {
    box-shadow: 0px 2vh 4vh rgba(0, 0, 0, 0.1);;
    border-bottom: #4390C2 solid;
    
}

#valor-cobrar{
    width: 28vh;
    font-size: 1.3rem;
    font-weight: 300;
}

.cifrao{
    font-size: 1.3rem;
    font-weight: 300;
}