*{
    outline: none;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.simula-venda{
    width: 100%;
    display: flex;
    justify-content: center;
}

.row{
    width: 50vh;
    height: 6vh;
    margin-top: 2vh;
}

.grid-formulario{
    align-items: start;
    width: 103vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5vh;
}

select{
    border: .3vh solid #ccc;
    border-radius: .375rem;
    padding: .5vh 2vh;
}

select:disabled{
    border: .3vh dashed #ccc;
    background-color: #f7f7f7;
}

option{
    margin: 2vh;
}


.form-content {
    margin-bottom: 10px;
    
  }

.col{
    display: flex;
    flex-direction: column;
}
  
  .input-valor {
    padding: .1vh 2vh;
    display: inline-flex;
    align-items: center;
    border-bottom: #ccc solid;
    
  }
  
  #valor-cobrar{
    width: 28vh;
  }

  .input-valor.selected {

    border-bottom: #636dfd solid;
    
  }