
.navbar1{
    height: 10vh;
    align-items: center;
}

.navbar1, .container-header{
    background-color: #ffffff;
}

.logo-header{
    height: 7vh;
}

.banner{
    display: flex;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
}

.banner-desktop{
    display: block;
    width: 94vw;
}

.banner-mobile{
    display: none;
}

.hiddem-desktop{
    display: none !important; 
}

.hiddem-pocket{
    display: block !important;
}


/*Simular Venda*/
.form-control{
    
}

@media screen and (max-width: 720px){
    .banner-desktop{
        display: none;
    }
    .banner-mobile{
        display: block;
        width: 100vw;
    }

    /*Responsividade*/
    .hiddem-desktop{
        display: block !important; 
    }

    .hiddem-pocket{
        display: none !important;
    }
    
    .title-marca{
        display: none;
    }
}