
.navbar1{
    height: 80px;
    align-items: center;
}

.navbar1, .container-header{
    background-color: #ffffff;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-desktop{
    display: block;
}

.banner-mobile{
    display: none;
}

.simular-venda{
    
}

@media screen and (max-width: 720px){
    .banner-desktop{
        display: none;
    }
    .banner-mobile{
        margin-top: 76px;
        display: block;
        max-width: 320px;
    }
    .title-marca{
        display: none;
    }
}