@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color_blue: #0071D9;
    --color_red: #F64638;
    --color_white: #fff;
    --color_gray: #f7f7f7;
    --color_border: #ccc;
    --color_border_hover: #c4d4ff;
    --color_hover: #165a99;
    --color_subtitle: #797979;
    --color_black: #1d1d1d;
}

*{
    outline: none;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-weight: 400;
    color: var(--color_black);
    text-decoration: none;
    transition: all 10ms ease-in;
    font-family: 'Poppins', sans-serif;
    
}

body{
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--color_black);
}

a:hover{
    color: var(--color_blue);
}

.no-scrol{
    overflow: hidden;
}

section{
    width: 100%;
    padding: 3vh 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 8vh 0vh 4vh 0vh;
}

h4{
    font-size: .8rem;
    text-align: center;
    color: var(--color_subtitle);
    font-weight: 500;
    margin: 8vh 0vh 8vh 0vh;
}

.bgcinza{
    background-color: var(--color_gray);
}

.hiddem-desktop{
    display: none;
}

.hiddem{
    display: none;
}

.hide{
    right: 0rem !important;
}

/*Bot천es Fixos*/
.fixed-btx{
    z-index: 3;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin-bottom: 150px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fixed-btx img{
    width: 80%;
    border-radius: 100%;
    box-shadow: 0px .5rem 1rem rgba(0, 0, 0, 0.1);
}

/*Header*/
.navbar1{
    height: 5rem;
    padding: 0rem 1rem;
    align-items: center;
}

#header{
    height: 5rem;
    width: 100%;
    background-color: var(--color_white);
    display: inline-flex;
    position: fixed;
    z-index: 1;
    top: 0;
    padding: .5rem 2rem;
    align-items: center;
    justify-content: space-between;
}

.content-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.title-header{
    font-size: 1.2rem;
    font-weight: 400;
}

.menu,
.menu-nav{
    display: flex;
    gap: 1rem;
}

.menu-pocket{
    cursor: pointer;
}

.darkness-body{
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d7e;
    position: absolute;
    top: 0;
    left: 0;
}

.redes-sociais{
    display: flex;
    gap: .5rem;
    
}

.content-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #1d1d1d;
    cursor: pointer;
}

.content-redes img{
    width: 1rem;
}
.face{
    align-items: end;
}

.face:hover{
    background-color: #0071D9;
}
.twitter:hover{
    background-color: #2a98ff;
}

.insta:hover{
    background-color: #F64638;
}

.face img{
    width: .8rem;
}

.menu-link:hover{
    color: var(--color_hover);
}

.navbar1, .container-header{
    background-color: var(--color_white);
}

.logo-header{
    height: 3rem;
}

/*Banner*/
.banner{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

.banner-desktop{
    display: block;
    width: 94vw;
}

.banner-mobile{
    display: none;
}

/*Taxas de Venda*/
.grid-taxa{
    display: flex;
    width: 100%;
    align-items: self-start;
    justify-content: center;
    gap: 2rem;
}

.taxa{
    display: flex;
    width: 15rem;
    align-items: center;
    flex-direction: column;
    background-color: var(--color_white);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
    padding: .5rem;
    padding-bottom: 0;
    border-radius: .375rem;
}

.taxa h2{
    font-size: 1.2rem;
}

.taxa h1{
    color: var(--color_blue);
    font-weight: 600;
    margin-top: 1rem;
    padding-bottom: .5rem;
    width: 50%;
    border-bottom: var(--color_blue) .3rem solid;
}

.taxas-vendas h1{
    margin-bottom: 0;
}

.taxas-vendas h4{
    margin-top: 1rem;
}

.donw-credito{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 1rem;

}

.donw-credito h5{
    font-size: .8rem;
    font-weight: 600;
}

.content-taxa{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    margin-bottom: 3rem;
    
}

.taxa-dias{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

.taxa-dias h3{
    font-size: 1rem;
    margin-block-end: 0em;
    margin-block-start: 0em;
}




/*Simular Venda*/
.simula-venda{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha{
    width: 55vh;
    height: 8vh;
    margin-top: 2vh;
    flex-wrap:nowrap
}

.grid-formulario{
    align-items: end;
    width: 120vh;
    display: grid;
    margin-top: 4vh;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 5vh;
}

select{
    border: .10rem solid var(--color_border);
    background-color: var(--color_white);
    border-radius: .375rem;
    padding: 2vh;
    cursor: pointer;
}

select:hover{
    border: .10rem solid var(--color_border_hover);
}

select:focus{
    border: var(--color_blue) .10rem solid;
}

select:disabled{
    border: .10rem dashed var(--color_border);
    background-color: var(--color_gray);
}

option {
    background: var(--color_white);
    color: var(--color_black);
    margin: 0.2vh 0;
    }

.col{
    display: flex;
    flex-direction: column;
}
  
.input-valor {
    padding: 1vh 2vh;
    height: 7vh;
    font-size: 1.5rem !important;
    display: inline-flex;
    align-items: center;
    border-bottom: .20rem var(--color_border) solid;
    
}
  
.input-valor.selected {
    border-bottom: var(--color_blue) solid;    
}

.input-valor:hover:not(.selected){
    border-bottom: var(--color_border_hover) solid;
}

#valor-cobrar{
    width: 40vh;
    padding-left: 0vh;
    font-size: 1.3rem;
    font-weight: 300;
}

#valor-cobrar::placeholder{
    color: var(--color_black);
}

.cifrao{
    width: auto;
    font-size: 1.3rem;
    padding-left: 0;
    font-weight: 300;
}

.display-valores{
    border-radius: .375rem;
    display: grid;
    height: 100%;
    width: 55vh;
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: start;

}

.vende{
    font-size: 1.2rem;
}

.valor{
    font-weight: 700;
}

.content-valores{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/*Cards*/
.section_card_container{
    width: 94vw;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.card_content{
    gap: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
    
.card{
    padding: 0;
    border: none;
}
.accordion-body{
    padding: 0;
}
.card-header{
    background-color: var(--color_red);
    color:  #FFFFFF;
}
.card-text{
    font-size: .9em;
}

/*Bandeiras dos Cart천es*/
.cartoes-grid-hiddem-pocket{
  display: flex;
  flex-wrap: wrap;
  max-width: 44rem;
  margin-top: 4vh;
  column-count: 8;
  justify-content: center;
  gap: 1rem;
}

.cartoes-grid-hiddem-desktop{
    display: none;
}

.bandeira-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 3rem;
    background-color: var(--color_white);
    border: var(--color_border) .10rem solid;
    border-radius: .375rem;
    padding: .5vh;
}

.bandeira-content img{
    width: 3rem;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 10vh;
    border-top: var(--color_blue) .5rem solid;
    background-color: var(--color_gray);
    bottom: 0;
    padding: 3vh 4vh;
}

footer h1{
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 1vh;
}

footer h2{
    font-size: 1.2rem;
    font-weight: 600;
}

footer h4 {
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.content-footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.fale-conosco{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.footer-donw{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.copyright, #DateCopy{
    font-size: .7rem;
    color: var(--color_subtitle);
    margin-top: 6vh;
}

/*Responsividade*/
@media screen and (max-width: 800px){
    /*Header*/
    .menu-pocket{
        display: block;
        z-index: 3;
    }
    
    .menu{
        min-width: 50%;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        align-items: end;
        position: absolute;
        right: -40rem;
        z-index: 2;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
        background-color: var(--color_gray);
        padding: 2rem;
        padding-top: 5rem;
        transition: all 100ms ease-in;
    }

    .menu-nav{
        flex-direction: column;
        font-size: 1.2rem;
        align-items: end;
        cursor: pointer;
    }

    .nav-donw{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-bottom: 3rem;
    }

    .nav-donw h4{
        margin-top: 0;
        margin-bottom: .5rem;
    }

    /*Banner*/
    .banner-desktop{
        display: none;
    }

    .banner-mobile{
        display: block;
        max-width: 100%;
    }

    /*Taxas*/
    .grid-taxa{
        flex-direction: column;
    align-items: center;
    }

    /*simular venda*/
    .grid-formulario{
        align-items: end;
        width: 80vw;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 5vh;
    }

    .display-valores{
        border-radius: .375rem;
        display: grid;
        height: 100%;
        width: 80vw;
        font-size: 1rem;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: start;
    
    }

    .linha{
        width: 80vw;
        height: 8vh;
        margin-top: 2vh;
        flex-wrap:nowrap
    }
    
    /*Cart천es*/
    .cartoes-grid-hiddem-desktop{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 96vh;
        margin-top: 4vh;
        column-count: 8;
        align-items: center;
        justify-content: center;
        gap: 2vh;
    }

    .cartoes-grid-hiddem-pocket{
        display: none;
    }

    .bandeira-content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 2.5rem;
        padding: .5vh;
    }

    .bandeira-content img{
        width: 2.5rem;
    }

    .linha3{
        display: flex;
        justify-content: center;
        gap: 2vh;
    }

    .linha4{
        display: flex;
        justify-content: center;
        gap: 2vh;
    }

    /*Bot찾o fixo*/
    .fixed-btx{
        display: flex;
        gap: 1vh;
    }

    /*Footer*/
    .content-footer{
        flex-direction: column;
        align-items: flex-start;
    }

    .fale-conosco{
        align-items: flex-start;
    }

    footer h1{
        margin-top: 3vh;
    }

    /*Responsividade*/
    .hiddem-pocket{
        display: none;
    }
    
    .title-marca{
        display: none;
    }

    /*card*/
    .card-col{
        flex-direction: column;
    }
    .card-header{
        font-size: .9em;
    }
}